/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
H-ui.admin/
H-ui.admin_v3.1.3.1.zip
/public/uploads
/config/alibaba.php
/config/qiniu.php
/config/swechat.php
